.statement-div {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    padding: 8px;
  }

.outputSelect {
    width: auto !important;
    margin-left:2px !important;
}

.outputModeDiv{
    display:flex
}

.instructionsButton {
   cursor: pointer;
   margin: 2% 2% 2% 0;
   display: inline-block

}

.instructionsLegend {

   justify-content: center;
   padding: 3%;
}

.legendImage{
   display: inherit;
   height: 50%;
   width: 50%;
}



.helpContainer{
  background: white;
  width: 90vmin;
  height: 56vmin;
  display: inline-flex;
  border: 2px dotted;
}
.flexSidebar{
  background-color: whitesmoke;
  width: 25%;
  height: 100%;
}


.flexItem {
  background: white;
  padding: 2%;
  margin: 4% 2% 4% 2%;
  cursor:pointer;
  
}
.flexItem:hover {
  background: rgb(194, 194, 194);
}

.helpContentHolder {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.helpContent{
  margin: 4% 2% 2% 5%;
  height: 90%;
  background: gray;
  float:left;
  display: none;

}

.helpContent-image{
  height: 100%;
  width: 100%;
}

