body {
    color: #333;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-box, .instruction-box, .customization-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: center;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
}

.table-wrapper {
    flex: 1 1 45%;
    margin: 10px;
}

.button-container {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: min-content;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-wrap: nowrap;
}

.button-container button:hover {
    background-color: #4cae4c;
}

ol {
    counter-reset: instruction-counter;
    list-style-type: none;
    padding: 0;
}

.instruction-item {
    margin: 2px 0;
    border-radius: 3px;
    transition: 0.3s ease;
    display: flex;
}

.instruction-item::before {
    counter-increment: instruction-counter;
    content: counter(instruction-counter) ".";
    margin: 10px;
    font-weight: bold;
}

.instruction-div {
    padding: 10px;
    margin: 2px 0;
    border-radius: 3px;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.instruction-div.current {
    background-color: #5cb85c;
    font-weight: bold;
    position: relative;
}

.instruction-div.disabled {
    color: #999;
    background-color: #f0f0f0;
}

.instruction-div::marker {
    display: block;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

input[type='text'] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type='text']:focus {
    outline: none;
    border-color: #5cb85c;
}

.customization-container {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    caption-side: top;
    text-align: left;
    font-weight: bold;
}

input:focus::placeholder {
    color: transparent;
}

.instruction-header {
    display: flex;
    justify-content: space-around;
}

.help-container {
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    border: 1px solid #bebebe;
    padding: 15px;
    margin-top: 10px;
}

/* Specific Styles Based on Instructions */

.instructions {
    background-color: #007bff; /* Blue background for instructions */
    color: #000; /* Black text */
    font-weight: bold;
    text-decoration: underline;
}

.configuration {
    background-color: #f7f7f7; /* Grey background for configuration */
    color: #000; /* Black text */
    font-weight: bold;
    text-decoration: underline;
}

.question {
    background-color: #007bff; /* Blue background */
    color: #000; /* Black text */
}

.fixed-font {
    font-family: monospace; /* Fixed width font */
    color: #000; /* Black text */
}

/* Feedback Styles */

.feedback-correct {
    background-color: #007bff; /* Blue background if correct */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.feedback-incorrect {
    background-color: #ffc0cb; /* Pink background if incorrect */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

