.selectwidthauto {
    width:auto !important;
    display: inline-block !important;
    margin: 5px;
}

input.input-validation-error {
   border: 1px solid #e80c4d;
}

input {
   padding:1px;
   color:#222;
   font-family:corbel,sans-serif;
   font-size: 14px;
   margin: 1px;
}

.tagclass {
   color: MistyRose;
   background-color: Tomato;
}

.indexclass {
   color: ghostwhite;
   background-color: CornflowerBlue; 
}

.offsetclass {
   color: Grey; 
   background-color: #ffef96;
}

.notselected {
   color: DimGray;
   background-color: Gainsboro;
}

.button {
   /* background-color: Gainsboro; */
   border: none;
   /* color: Dimgray; */
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .prevent-select {
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
 }

.tagbutton {
   color: "MistyRose" !important; 
   background-color: "indianred" !important;
}

.indexbutton {
   color: "ghostwhite" !important; 
   background-color: "CornflowerBlue" !important;
}

.offsetbutton {
   color: "Azure" !important; 
   background-color: "Bisque" !important;
}

input[disabled] {
   background-color: rgb(172, 172, 172);
}

table, td, tr, th {
   border: 1px solid;
}

th, td {
   height: 20px;
   text-align: center;
}

table {
   border-collapse: collapse;
   word-wrap: break-word;
   line-break: strict;
}

.aligned-tables {
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

