.selectwidthauto {
    width:auto !important;
    display: inline-block !important;
    margin: 5px;
}

input.input-validation-error {
   border: 1px solid #e80c4d;
}

.statement-div {
   border-width: 1px;
   border-radius: 5px;
   border-style: solid;
   border-color: rgb(234, 234, 234);
   background-color: rgb(255, 255, 255);
   padding: 8px;
 }
 .answerDiv {
   display:grid;
   margin-bottom: 2%;
 }

 .codeDiv{
   background-color: #f9f2f4;
   padding: 2% 2% 2% 6%;
   font-size: large;
 }

 .inputsDiv{
   padding: 5% 10% 5% 7%;
 }
 table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
   background: white !important; 
}
th {
    text-align: center;
}

th, td {
   border: 1px solid #ccc !important;
   padding: 8px !important;
   text-align: center !important;
}

th {
   background-color: #f7f7f7;
   font-weight: bold;
   text-align: center;
}

.tables-container {
   display: flex;
   flex-wrap: wrap;
}

.table-wrapper {
   flex: 1 1 45%;
}

.modeCode{
   font-size:large;

}

.radioTD{

   justify-content: left;
}

.radioSpan{
   display:flex;
   width: 50%;
}

.feedbackTable{
    background: white;
}

.statement-div {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    padding: 8px;
  }

.outputSelect {
    width: auto !important;
    margin-left:2px !important;
}

.outputModeDiv{
    display:flex
}

.instructionsButton {
   cursor: pointer;
   margin: 2% 2% 2% 0;
   display: inline-block

}

.instructionsLegend {

   justify-content: center;
   padding: 3%;
}

.legendImage{
   display: inherit;
   height: 50%;
   width: 50%;
}



.helpContainer{
  background: white;
  width: 90vmin;
  height: 56vmin;
  display: inline-flex;
  border: 2px dotted;
}
.flexSidebar{
  background-color: whitesmoke;
  width: 25%;
  height: 100%;
}


.flexItem {
  background: white;
  padding: 2%;
  margin: 4% 2% 4% 2%;
  cursor:pointer;
  
}
.flexItem:hover {
  background: rgb(194, 194, 194);
}

.contentHolder {
  background: floralwhite;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.helpContent{
  width: 90%;
  margin: 4% 2% 2% 5%;
  height: 90%;
  background: gray;
  float:left;
  display: none;

}

.helpContent-image{
  height: 100%;
  width: 100%;
  background-color: red;
}

