.selectwidthauto {
  width:auto !important;
  display: inline-block !important;
  margin: 5px;
}

input.input-validation-error {
 border: 1px solid #e80c4d;
}

.binops-inline{
  padding: 0px;
  font-size: 100%;
  /* color: #c7254e; */
  background-color: #fffef9;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  box-sizing: border-box;
}

.number-input-box {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  font-size: 18px !important;
  width: 45% !important;
  margin:3px !important;
}

.code-style-menu {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  border: none;
  font-weight: 550 !important;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  color: #c7254e !important;
  font-size: large !important;
  border-radius: 4px;
  background-color: #f9f2f4 !important;
}

.calculate-btn {
  background-color: HoneyDew !important;
  border-radius: 8px !important;
  color: seagreen !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 500;
  line-height: 20px !important;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  left: 30px;
}

.clear-btn {
  background-color: grey !important;
  border-radius: 8px !important;
  color: whitesmoke !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 500;
  line-height: 20px !important;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  left: 30px;
}

.bits-label {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  font-size: 18px;
  font-weight: 550;
  color: #c7254e !important;
  margin-right: 10px;
  visibility: hidden;
}

.statement-div {
  border-width: 1px;
  border-radius: 5px;
  border-block-style: solid;
  border-block-color: white;
  background-color: white;
  padding: 8px;
}

.prompt-div {
  font-size: x-large;
  width: 50%;
  text-align: right;
  /* padding: 2px 0px !important; */
  padding-right: 10px;
}

.result-div {
  text-align: right;
}
.promptOL-div{
  font-size: x-large;
}

.dropdown-check-list {
  position: relative;
  display: inline-block;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #555555;
}

.dropdown-check-list .anchor:after {
  content: "";
  position: absolute;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-check-list ul.items li {
  list-style: none;
  padding: 3px 10px;
  color: #333;
  font-family: inherit;
}

.dropdown-check-list.visible .anchor {
  color: #555555;
}

.dropdown-check-list.visible .items {
  display: block;
}

.dropdown-check-list ul.items li:hover,
.dropdown-check-list ul.items li:focus {
  background-color: #f5f5f5;
}

.dropdown-check-list ul.items li.active a {
  color: #fff;
  background-color: #337ab7;
}