#hierarchy_graph #timeline_graph {
  pointer-events: none;
}

.code-div-inline {
  display: inline-block;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 45%;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  position: sticky;
  top: 0;
}

.input-div {
  height: auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tree-div {
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  justify-content: center;
  pointer-events: none;
}

.input-box {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.right-div-inline {
  display: inline-block;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
  position: sticky;
  top: 0;
}

.statement-box {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: white;
  padding: 8px;
}