#hierarchy_graph {
  pointer-events: none;
}

.mode-exp {
  cursor: pointer;
  color: #c7254e;
}

.tooltip-inner {
  padding: 10px !important;
  max-width: 300px !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  font-size: 14px !important;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.fork-inline {
  font-weight: normal !important;
  display: inline-block !important;
}

.mode {
  width: fit-content !important;
  height: 30px !important;
  margin: 2px !important;
}

.reference-content {
  display: none;
  background-color: #f0f0f0;
  line-height : 90%;
  margin: 5px;
  padding: 10px;
  border-width: 1px;
  border-radius: 5px;
}
.code-div-inline {
  display: inline-block;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 45%;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  position: sticky;
  top: 0;
}

span[data-block]:hover {
  background-color: yellow;
}

.help-div {
  font-family: "Gill Sans", sans-serif !important;
  font-size: small;
  padding: 8px;
}

.prompt-div {
  height: auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tree-div {
  flex: 1;
  border-width: 1px;
  border-radius: 5px;
  background-color:rgb(252, 252, 252);
  border: 1px solid #bebebe;
  padding: 15px;
  margin-top: 10px;
  justify-content: center;
  display: flex;
  flex-flow: column;
  /* pointer-events: none; */
}

.input-box {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.input-div-inline {
  display: inline-block;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
  position: sticky;
  top: 0;
}

.statement-box {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: white;
  padding: 8px;
}