/* body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
} */

#tree-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node text {
    /* font-family: 'Courier New', Courier, monospace; */
    font: 12px sans-serif;
}


.link-group {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 4px;
}

.link-group.active {
    fill: crimson;
    stroke: crimson;
    stroke-width: 5px;
}

.link-group text {
    fill: black;
    stroke: none;
    font: 12px sans-serif;
    text-anchor: "middle";
    /* font-family: 'Courier New', Courier, monospace; */
}

.link-hitbox {
    fill: transparent;
    stroke: transparent;
    stroke-width: 20px;
}

.link.concurrent {
    stroke-dasharray: 4, 7;
}

.link.sequential {
    stroke-dasharray: 0;
}

label code.candidate-print-sequence {
    background-color: #f8f8f8;
    color: #000;
    padding: 2px 4px;
    font-family: monospace;
    font-style: normal; font-weight: normal;
    font-size: large;
  }